<html>
	<%- include head.ejs %>
	<body>
		<%- include nav.ejs %>
		<div class="container">
			<div class="col-md-12">
				<h2>Movies Database</h2>
			</div>
			<div class="panel panel-default">
				<div class="col-md-12">
					<form method="GET" action="/movies">
						<div class="input-group">
						  <input value="<%= search %>" name="search" type="text" class="form-control">
						  <div class="input-group-btn">
						    <button type="submit" 
						    	class="btn btn-info"><span class="glyphicon glyphicon-search"></span> Search</button>
						  </div>
						</div>
					</form>
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Movie Title</th>
								<th>Director</th>
								<th>Release Year</th>
								<th>Genre</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<% movies.forEach(function(movie){ %>
							    <tr>
							    	<td><%= movie.title %></td>
							    	<td><%= movie.director %></td>
							    	<td><%= movie.releaseYear %></td>
							    	<td><%= movie.genre %></td>
							    	<td>
							    		<a href="/movies/view/<%= movie.id %>">
								    		<span class="glyphicon glyphicon glyphicon-eye-open"></span>
							    		</a>
							    		<a href="/movies/update/<%= movie.id %>">
								    		<span class="glyphicon glyphicon glyphicon-pencil"></span>
							    		</a>
							    		<a data-confirm="Are you sure" href="/movies/delete/<%= movie.id %>">
								    		<span class="glyphicon glyphicon glyphicon-trash"></span>
							    		</a>
							    	</td>
							    </tr>
							 <% }); %>
						</tbody>
					</table>
					<% if(pages > 1){ %>
					<ul class="pagination">
					  <% for(var i= 1; i <= pages; i++) { %>
					  	<li <%= (pageNo == i) ? 'class=active' : "" %>><a href="?page=<%= i %>"><%= i %></a></li>
					  <% } %>
					</ul>
					<% } %>
				</div>
				<div class="col-md-12">
					<a href="/movies/add" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>Add Movie</a>
				</div>
			</div>
		</div>
	</body>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous"></script>
	<script href="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$("a[data-confirm]").on("click",function(event){
			event.preventDefault();
			if(confirm($(this).attr("data-confirm"))){
				window.location.href = $(this).attr("href");
			} else {
				return false;
			}
		});
	</script>
</html>